:host {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

router-outlet {
    width: 100%;
}

@media screen and (max-width: 750px) {
    // :host {
        // background: linear-gradient(45deg, var(--action-button-gradient-left), var(--action-button-gradient-right))
    // }
}
