<app-sync-online-controller #syncController [offlineStore]="offlineModuleStore" (applyOfflineEntry)="applyOfflineEntry($event)" (unloadOfflineEntry)="unloadOfflineEntry()" (commitSynchronizeEntry)="commitSynchronizeEntry($event)" [pageInitFinished]="pageInitFinished.asObservable()"></app-sync-online-controller>

<form [formGroup]="dropdownFormGroup" #customerForm> <!-- [class.valid]="customerFormGroup.valid" -->
    <div id="searchController">
        <h5>Kombinierten Kundenstamm aus Moveta Pegasus & Intranet durchsuchen und bearbeiten:</h5>
        <div id="entityTypeSelector">
            <button (click)="this.selectCustomers()" [disabled]="this.isCustomersSelected() || this.currentSyncEntry !== undefined"><img src="/images/farmer.svg" />Kunden</button>
            <button (click)="this.selectBusinesses()" [disabled]="this.isBusinessSelected() || this.currentSyncEntry !== undefined" ><img src="/images/farm.svg" />Betriebe</button>
            <button (click)="this.selectDrugs()" [disabled]="this.isDrugsSelected() || this.currentSyncEntry !== undefined"><img src="/images/vacine.svg" />Arzneien</button>

            @if(this.isCustomersSelected()) {
                <app-search-dropdown #customerSearchDropdown placeholder="Kunde suchen..." [items]="this.customerList()"
                    [serial]="this.customerSerializer" [formControl]="dropdownFormGroup.controls.customerDropdown"
                    (itemSelectedEvent)="customerSelected($event)"></app-search-dropdown>
            }
            @if(this.isBusinessSelected()) {
                <app-search-dropdown #businessSearchDropdown placeholder="Betrieb suchen..." [items]="this.businessList()"
                    [serial]="this.businessSerializer" [formControl]="dropdownFormGroup.controls.businessDropdown"
                    (itemSelectedEvent)="businessSelected($event)"></app-search-dropdown>
            }
            @if(this.isDrugsSelected()) {
                <app-search-dropdown #businessSearchDropdown placeholder="Arzneien suchen..." [items]="this.drugsList()"
                    [serial]="this.drugSerializer" [formControl]="dropdownFormGroup.controls.drugDropdown"
                    (itemSelectedEvent)="drugSelected($event)"></app-search-dropdown>
            }
        </div>
    </div>

    @if(isMergeConflictCustomerGUIshown() || isMergeConflictBusinessGUIshown() || isMergeConflictDrugGUIshown()) {
        <div id="mergeConflictNotice">Merge-Konflikt zwischen Server und lokalen Änderungen
            <h5>Auf dem Server existieren Änderungen an dieser Entität welche im Konflikt mit deinen lokalen Änderungen stehen.</h5>
            <h5>Folgend kannst Du die Änderungen vergleichen und dann den Serverstand mit deiner Version überschreiben.</h5>
        </div>
    }

    @if(this.isCustomersSelected()) {
        <div id="conflict-container" [class.conflictExists]="isMergeConflictCustomerGUIshown()">
            <div>
                @if(isMergeConflictCustomerGUIshown()) {
                    <h2 id="conflictNoticeLocal">Dein lokaler Stand</h2>
                }
                <app-entity-customer [formControl]="dropdownFormGroup.controls.customerEntity" [class.small]="isMergeConflictCustomerGUIshown()"></app-entity-customer>
            </div>
            @if(isMergeConflictCustomerGUIshown()) {
                <div>
                    <h2 id="conflictNoticeRemote">Stand auf dem Server</h2>
                    <app-entity-customer [formControl]="dropdownFormGroup.controls.mergeConflictCustomerServer" class="small" [compareCustomer]="this.dropdownFormGroup.value.customerEntity!"></app-entity-customer>
                </div>
            }
        </div>
        <button class="actionButton" [disabled]="!dropdownFormGroup.controls.customerEntity.valid || !isEditableCustomerGUIshown()" (click)="storeCustomer()">
            {{this.getSessionService().isOnlineSession() ? (isMergeConflictCustomerGUIshown() ? "Meinen Stand auf dem Server speichern" : "Änderungen übermitteln") : "Änderungen lokal speichern"}}
        </button>
    }
    @if(this.isBusinessSelected()) {
        <div id="conflict-container" [class.conflictExists]="isMergeConflictBusinessGUIshown()">
            <div>
                @if(isMergeConflictBusinessGUIshown()) {
                    <h2 id="conflictNoticeLocal">Dein lokaler Stand</h2>
                }
                <app-entity-business [formControl]="dropdownFormGroup.controls.businessEntity" [class.small]="isMergeConflictBusinessGUIshown()"></app-entity-business>
            </div>
            @if(isMergeConflictBusinessGUIshown()) {
                <div>
                    <h2 id="conflictNoticeRemote">Stand auf dem Server</h2>
                    <app-entity-business [formControl]="dropdownFormGroup.controls.mergeConflictBusinessServer" class="small" [compareBusiness]="this.dropdownFormGroup.value.businessEntity!"></app-entity-business>
                </div>
            }
        </div>
        <button class="actionButton" [disabled]="!dropdownFormGroup.controls.businessEntity.valid || !isEditableBusinessGUIshown()" (click)="storeBusiness()">
            {{this.getSessionService().isOnlineSession() ? (isMergeConflictBusinessGUIshown() ? "Meinen Stand auf dem Server speichern" : "Änderungen übermitteln") : "Änderungen lokal speichern"}}
        </button>
    }
    @if(this.isDrugsSelected()) {
        <div id="conflict-container" [class.conflictExists]="isMergeConflictDrugGUIshown()">
            <div>
                @if(isMergeConflictDrugGUIshown()) {
                    <h2 id="conflictNoticeLocal">Dein lokaler Stand</h2>
                }
                <app-entity-drug id="main" [formControl]="dropdownFormGroup.controls.drugEntity" [class.small]="isMergeConflictDrugGUIshown()"></app-entity-drug>
            </div>
            @if(isMergeConflictDrugGUIshown()) {
                <div>
                    <h2 id="conflictNoticeRemote">Stand auf dem Server</h2>
                    <app-entity-drug id="compare" [formControl]="dropdownFormGroup.controls.mergeConflictDrugServer" class="small" [compareDrug]="this.drugLoaded"></app-entity-drug>
                </div>
            }
        </div>
        <button class="actionButton" [disabled]="!dropdownFormGroup.controls.drugEntity.valid || !isEditableDrugGUIshown()" (click)="storeDrug()">
            {{this.getSessionService().isOnlineSession() ? (isMergeConflictDrugGUIshown() ? "Meinen Stand auf dem Server speichern" : "Änderungen übermitteln") : "Änderungen lokal speichern"}}
        </button>
    }
</form>
