form {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    border: 2px solid black;
    border-image: linear-gradient(to right, var(--action-button-gradient-left), var(--action-button-gradient-right)) 1;
    border-radius: 3px;
}

form > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.cont {
    width: 100%;
    padding: 0px 20px;
    margin: 0px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 10px;
}

.flexRow {
    display: flex;
    width: 100%;
    column-gap: 10px;
}

.flexRow > * {
    flex: 1;
}

label {
    height: min-content;
}

input,
select {
    flex: 1;
    box-sizing: border-box;
    width: 0;
}

label {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}

#submit-form {
    margin: 30px auto;
    width: 90% !important;
    padding: 10px;
}

.prescriptionControls {
    width: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#add-prescription-row,
#rem-prescription-row {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    margin: 3px;
    aspect-ratio: 1;
}

#add-prescription-row {
    background-image: url("/images/add.svg");
}
#rem-prescription-row {
    background-image: url("/images/remove.svg");
}

.valid {
    border-image: linear-gradient( to right, var(--notification), var(--notification)) 1;
}


#right {
    flex: 0;
    padding: 0;
}