.dropdownRowHint {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 100px !important;
    line-height: 100%;
    color: var(--background);
    font-weight: 800;
    font-size: 10pt;
    text-align: center;
    display: inline-block;
    width: min-content;
}
