<a routerLink="/"><img class="action-item" id="logo" src="/images/logo_tiere.svg" /></a>
<a routerLink="/qs"><span class="action-item">QS-Meldung</span></a>
<span class="action-item">Lorem</span>
<span class="action-item">Ipsum</span>
<span class="spreader"></span>

<span class="action-item" id="sync" (click)="updatePopup('sync')">
    <img id="sync-svg" class="action-item" src="../../../images/sync.svg" />
    <span id="sync-count">{{this.totalUnsyncCount()}}</span>
    @if(activePopup == 'sync') {
        <app-sync-popup></app-sync-popup>
    }
</span>

<span class="action-item" id="account" (click)="this.updatePopup('account')">
    @if(isLoggedIn()) {
        @if(hasProfilePhoto()) {
            <img class="action-item" id="profileThumbnailPhoto" src="{{profilePhoto()}}" />
        }
        @else {
            <logged-in-svg class="action-item"></logged-in-svg>
        }
    }
    @else {
        <logged-out-svg class="action-item"></logged-out-svg>
    }
    @if(activePopup == 'account') {
        <app-user-account-popup></app-user-account-popup>
    }
</span>