<a id="logo-wrapper">
    <span class="action-item" id="logo" [routerLink]="isLoggedIn() ? '/' : null"><img src="/favicon.ico" /></span>
    <span id="mobile-hamburger" (click)="this.mobileViewHamburgerExpanded = !this.mobileViewHamburgerExpanded">☰</span>
</a>

<div id="action-items" [class.hamburgerExpanded]="this.mobileViewHamburgerExpanded">
    <span class="action-item lockedItem"><a (click)="this.mobileViewHamburgerExpanded=false" [routerLink]="isLoggedIn() && hasQsPermission() ? '/qs' : null">QS-Meldung</a></span>
    <span class="action-item lockedItem"><a (click)="this.mobileViewHamburgerExpanded=false" [routerLink]="isLoggedIn() && hasNewsPermission() ? '/news' : null">Praxis-News</a></span>
    <span class="action-item lockedItem"><a (click)="this.mobileViewHamburgerExpanded=false" [routerLink]="isLoggedIn() && hasTravelExpensesPermission() ? '/travel-expenses' : null">Anfahrtskosten</a></span>
</div>
<span class="spreader"></span>

<span class="action-item" id="sync" (click)="updatePopup('sync')">
    <img id="sync-svg" class="action-item" src="../../../images/sync.svg" />
    <span id="sync-count">{{this.totalUnsyncCount()}}</span>
    @if(activePopup == 'sync') {
        <app-sync-popup></app-sync-popup>
    }
</span>

<span class="action-item" id="account" (click)="this.updatePopup('account')">
    @if(isLoggedIn()) {
        @if(hasProfilePhoto()) {
            <img class="action-item" id="profileThumbnailPhoto" src="{{profilePhoto()}}" />
        }
        @else {
            <logged-in-svg class="action-item"></logged-in-svg>
        }
    }
    @else {
        <logged-out-svg class="action-item"></logged-out-svg>
    }
    @if(activePopup == 'account') {
        <app-user-account-popup></app-user-account-popup>
    }
</span>