@keyframes unload {
    0% {
        --progress: 100%;
        transform: translateX(0%);
    }
    98% {
        --progress: 0%;
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-80%);
        --progress: 0%;
    }
}

@property --progress {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

:host {
    --progress: 100%;
    background-color: var(--background);
    font-size: 6pt;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 300px;
    max-width: 300px;
    position: relative;
    border-left: 4px solid transparent;
    border-image: linear-gradient(to bottom, var(--error) var(--progress), transparent calc(var(--progress) + 1px));
    border-image-slice: 1;
    margin-bottom: 10px;
    animation: unload 30s ease-out;
    box-shadow: 0px 0px 5px gray;
    padding: 20px;
}

#closemsg {
    display: block;
    height: auto;
    width: max-content;
    height: 0px;
    line-height: 10px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    color: black;
    font-size: 15pt;
    text-align: left;
    padding: 5px;
}

h1 {
    margin: 5px;
}
