<div id="inputContainer" (focusout)="lostFocus($event)" (focusin)="gainedFocus($event)">
    <input #searchInput (input)="handleTextChange($event)" 
                        (keydown)="handleKeyDown($event)" 
                        type="text" 
                        id="searchText" 
                        (scroll)="inputScrolled($event)" 

                        [ngClass]="control.touched ? (control.invalid ? 'is-invalid' : 'is-valid') : null"
                        class="form-control touched"
                        [formControl]="control" 
                        autocomplete="off"/>
    <span #searchTooltip id="inputTooltip">{{hintText()}}</span>
    <button id="quickDelete" tabindex="-1" (click)="performQuickDelete($event)"></button>
</div>
<span id="selected"></span>
<div id="options" tabindex="-1">
    <div #optionItems tabindex="-1" 
            *ngFor="let item of this.recommendedItems(); index as i" 
            class="option" 
            [attr.data-id]="i" 
            [attr.data-hint-txt]="this.serial.display(item).hint.text" 
            [attr.data-hint-col]="this.serial.display(item).hint.color" 
            [class.hovered]="i == this.hoveredItem()" 
            (click)="optionClicked($event)" 
            (mouseover)="optionMouseOver($event)">

        <div class="dropdownRowText">{{this.serial.display(item).text}}</div>
        @if(this.serial.display(item).hint.text != "") {
            <app-hint [hintColor]="this.serial.display(item).hint.color!" [hintText]="this.serial.display(item).hint.text!" ></app-hint>
        }
    </div>
</div>
