<h3>Aktualisiere Backend-Caches...</h3>
<ul *ngFor="let module of this._moduleService.modules; trackBy:trackByModule">
    @if (module.isBackendCacheUpdatePlanned()) {
        <li>{{module.name()}}
            @if(!module.isBackendCacheUpdateInProgress()) {
                @if(module.getBackendCacheUpdateResult()) {
                    <span class="success">✓</span>
                } @else {
                    <span class="error">✗</span>
                }
            } @else {
                <span class="inprog">-</span>
            }
        </li>
    }
</ul>