<form [formGroup]="customerFormGroup" [class.valid]="customerFormGroup.valid" [class.mergeConflictContainer]="this.compareCustomer()">
    <h5 class="data-section" data-text="Moveta Pegasus:"></h5>
    <app-image-picker formControlName="image" [class.mergeConflict]="this.customerFormGroup.controls.image.hasError('mergeConflict')"></app-image-picker>
    <input type="number" id="changed" formControlName="changed" hidden>
    <div class="cont">
        <label for="first-name">Name</label>
        <input type="text" id="first-name" formControlName="firstName" placeholder="Vorname" />
        <input type="text" id="given-name" formControlName="givenName" placeholder="Nachname" />
    </div>
    <div class="cont">
        <label for="search">Suchtext</label>
        <input type="text" id="search" formControlName="search" placeholder="Suchtext" />
    </div>
    <div class="cont">
        <label for="street">Re.-Adresse</label>
        <input type="text" id="street" formControlName="street" placeholder="Straße und Hausnummer" />
        <input type="number" id="plz" formControlName="plz" placeholder="PLZ" />
        <input type="text" id="place" formControlName="place" placeholder="Ort" />
    </div>
    <div class="cont">
        <label for="phone">Kontakt</label>
        <input type="text" id="phone" formControlName="phone" placeholder="Telefon" />
        <input type="text" id="fax" formControlName="fax" placeholder="Fax" />
        <input type="text" id="email" formControlName="email" placeholder="Email" />
    </div>
    <div class="cont">
        <label for="memo">Memo</label>
        <input type="text" id="memo" formControlName="memo" placeholder="Memotext" />
    </div>
    <div class="cont">
        <label for="birthday">Geburtstag</label>
        <app-datepicker id="birthday" placeholder="Geburtstag" [formControl]="this.customerFormGroup.controls.birthday"></app-datepicker>
    </div>
    <div class="cont">
        <label for="uid">UID</label>
        <input type="number" id="uid" formControlName="uid" placeholder="UID"/>
    </div>
    <div class="cont">
        <label for="moveta-customer-id">Moveta</label>
        <input type="text" id="moveta-customer-id" formControlName="movetaCustomerId" placeholder="Moveta Kunden ID"/>
    </div>

    <h5 class="data-section" data-text="Intranet:"></h5>
    <div class="cont">
        <label for="nonpaying">Nichtzahler</label>
        <input type="checkbox" id="nonpaying" formControlName="nonpaying" placeholder="Nichtzahler" [class.mergeConflict]="this.customerFormGroup.controls.nonpaying.hasError('mergeConflict')"/>
    </div>
    <div class="cont">
        <label for="gpsstreet">Abw. Anfahrt</label>
        <input type="text" id="gpsstreet" formControlName="altgpsstreet" placeholder="Straße und Hausnummer" [class.mergeConflict]="this.customerFormGroup.controls.altgpsstreet.hasError('mergeConflict')"/>
        <input type="number" id="gpsplz" formControlName="altgpsplz" placeholder="PLZ" [class.mergeConflict]="this.customerFormGroup.controls.altgpsplz.hasError('mergeConflict')"/>
        <input type="text" id="gpsplace" formControlName="altgpsplace" placeholder="Ort" [class.mergeConflict]="this.customerFormGroup.controls.altgpsplace.hasError('mergeConflict')"/>
    </div>
</form>