:host {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

#blockingContTitle {
    margin: 20px 0px;
    text-align: left;
    white-space: preserve nowrap;
}

#blockingContainerButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
}

#blockingContainerContent {
    white-space: pre-line;
}