@use '../../variables.scss' as *;

:host {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

#blockingContTitle {
    margin: 20px 0px;
    text-align: left;
    white-space: preserve;
}

#blockingContainerButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

#blockingContainerButtons > * {
    flex: 1;
}

#blockingContainerContent {
    white-space: pre-line;
}

@media screen and (max-width: $switchToMobileWidthPx) {
    #blockingContainerButtons {
        flex-direction: column;
    }
}