:host {
    display: block;
    z-index: 1000;
    box-shadow: 0px 0px 5px gray;
    padding: 15px;
    background: var(--background);
    border-right: 4px solid var(--notification);
    transition: transform .3s ease-out, opacity .3s ease-out, right .3s ease-out;
    margin: 3px;
}

h4, button {
    font-weight: initial;
    margin: 0px;
}

h3 {
    font-weight: initial;
    margin: 10px 0px;
    font-size: 10pt;
}

button {
    margin-top: 5px;
    appearance: none;
    cursor: pointer;
    font-weight: bolder;

    width: max-content;
    background-image: linear-gradient(to right, var(--action-button-gradient-left), var(--action-button-gradient-right));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

button::selection {
    color: black;
}
